body {
  background-color: rgb(20,3,25);
  color: yellow;
}

body.lightning {
  background-color: rgb(190,140,220);
}

.warning {
  color: rgb(250,180,100);
}

.pointer {
  color: pink;
  position: absolute;
  right: 40px;
  top: -8px;
  font-size: 1em;
}
